body {

    margin: 0px;
    padding: 0px;
    width: 100%;

}

#topbar {

    position: fixed;
    width: 100%;
    height: 180px;

}

#logo {

    margin-top: 40px;
    width:120px;
    position: relative;
    left: 350px;
    float:left;
    z-index: 99;

}

#titelEins {

    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    position: relative;
    left:370px;
    top:-5px;

}

#titelZwei {

    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    position: relative;
    left:370px;
    top: -50px;

}

#user {

    position: relative;
    left: 760px;
    top: -120px;

}

#pw {

    position: relative;
    left: 950px;
    top: -157px;

}

#loginarrow {

    width: 25px;
    position: relative;
    left: 1140px;
    top: -196px;
    margin-right: 0;

}

#middleLine {

    background-color: #19E6F1;
    width:100%;
    height:70px;
    position: fixed;
    top: 180px;

}

#middleLine a {

    font-family: 'Open Sans Condensed', sans-serif;
    color:white;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    left: 350px;
    top: 25px;

}

#middleLine a:hover {

    text-decoration: underline;

}

#content {

    background-color: #FFC000;
    width:100%;
    height:500px;
    position: fixed;
    top: 250px;

}

#einkauf {


    width: 815px;
    height: 500px;
    position: relative;
    left: 350px;
    top: 0px;

}

#kasten {

    font-family: 'Open Sans Condensed', sans-serif;
    background-color: white;
    width: 400px;
    padding: 5px 0px 5px 10px;
    position: relative;
    left: 350px;
    top: -200px;
    font-size: 120%;

}

#bottom {

    font-family: 'Open Sans Condensed', sans-serif;
    background-color: grey;
    width: 100%;
    height: 30px;
    position: fixed;
    top:750px;

}

#copy {

    font-weight: bold;
    position: relative;
    left: 350px;
    top: -10px;

}
